@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply font-SSTArabic ltr:font-Dosis;
  }
  ::-webkit-scrollbar {
    @apply w-[11px];
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-mainColor rounded-[5px];
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-mainColor/80;
  }
  ::-webkit-scrollbar-corner {
    @apply bg-transparent;
  }

  /* SST Arabic */
  @font-face {
    font-family: "SST Arabic";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/alfont_com_sst-arabic-light.ttf");
    src: local(""),
      /* Modern Browsers */
        url("./assets/fonts/alfont_com_sst-arabic-light.ttf") format("truetype");
  }
  @font-face {
    font-family: "SST Arabic";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/alfont_com_SST-Arabic-Medium.ttf");
    src: local(""),
      /* Modern Browsers */
        url("./assets/fonts/alfont_com_SST-Arabic-Medium.ttf")
        format("truetype");
  }
  @font-face {
    font-family: "SST Arabic";
    font-style: normal;
    font-weight: 600;
    src: url("./assets/fonts/alfont_com_AlFont_com_SST-Arabic-Roman-1.ttf");
    src: local(""),
      /* Modern Browsers */
        url("./assets/fonts/alfont_com_AlFont_com_SST-Arabic-Roman-1.ttf")
        format("truetype");
  }
  @font-face {
    font-family: "SST Arabic";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/alfont_com_AlFont_com_SST-Arabic-Bold-2.ttf");
    src: local(""),
      /* Modern Browsers */
        url("./assets/fonts/alfont_com_AlFont_com_SST-Arabic-Bold-2.ttf")
        format("truetype");
  }

  /* font English */
  @font-face {
    font-family: "Dosis";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/Dosis-Light.ttf");
    src: local(""),
      /* Modern Browsers */ url("./assets/fonts/Dosis-Light.ttf")
        format("truetype");
  }
  @font-face {
    font-family: "Dosis";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/Dosis-Regular.ttf");
    src: local(""),
      /* Modern Browsers */ url("./assets/fonts/Dosis-Regular.ttf")
        format("truetype");
  }
  @font-face {
    font-family: "Dosis";
    font-style: normal;
    font-weight: 600;
    src: url("./assets/fonts/Dosis-Medium.ttf");
    src: local(""),
      /* Modern Browsers */ url("./assets/fonts/Dosis-Medium.ttf")
        format("truetype");
  }
  @font-face {
    font-family: "Dosis";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/Dosis-Bold.ttf");
    src: local(""),
      /* Modern Browsers */ url("./assets/fonts/Dosis-Bold.ttf")
        format("truetype");
  }
}

@layer utilities {
  .custom-container {
    @apply w-[90%] sm:w-[600px] md:w-[740px] lg:w-[1000px] xl:w-[1200px] 2xl:w-[78%] relative m-auto;
  }
  .flex_center {
    @apply flex justify-center items-center;
  }
  .flex_between {
    @apply flex justify-between items-center;
  }
  .text-3xl-4xl {
    @apply text-3xl md:text-4xl;
  }
  .text-2xl-3xl {
    @apply text-2xl md:text-3xl;
  }
  .text-xl-2xl {
    @apply text-xl md:text-2xl;
  }
  .text-l-xl {
    @apply text-lg md:text-xl;
  }
  .text-base-l {
    @apply text-base md:text-lg;
  }
  .text-sm-base {
    @apply text-sm md:text-base;
  }
  .section_padding {
    @apply py-8 md:py-12;
  }
  .custom_shadow {
    @apply shadow-[0px_3px_20px_#000A6B21];
  }
  .custom-input {
    @apply outline-none bg-transparent border-[3px] border-grayText/30 caret-grayText w-full py-4 px-8 rounded-2xl text-base-l font-semibold text-black placeholder:text-grayText placeholder:text-base-l;
  }
}

/* start quote paragraph section ceo */
.quoteParagraph {
  position: relative;
}
.quoteParagraph::before,
.quoteParagraph::after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
@media (min-width: 768px) {
  .quoteParagraph::before,
  .quoteParagraph::after {
    font-size: 20px;
  }
}
.quoteParagraph::before {
  content: "\f10e";
  top: -10px;
  margin-inline-start: -25px;
}
[dir="ltr"] .quoteParagraph::before {
  content: "\f10d";
}
.quoteParagraph::after {
  content: "\f10d";
  bottom: -10px;
  margin-inline-start: 15px;
}
[dir="ltr"] .quoteParagraph::after {
  content: "\f10e";
}

/* end quote paragraph section ceo */

/* start swiper custom style */
.swiper-slide {
  padding: 0 0 60px;
}
.slider_Container {
  margin: 30px auto;
  width: 100%;
}
.swiper-pagination-bullet {
  width: 18px !important;
  height: 18px !important;
}
.swiper-pagination-bullet-active {
  background: #000a6b !important;
}
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  color: #9b9b9b;
  border: 4px solid #9b9b9b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 25px;
  font-weight: 700;
}

/* end swiper custom style */

/* start input flag number */
.react-tel-input .selected-flag {
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-tel-input .flag {
  transform: scale(1.5);
}
.react-tel-input .selected-flag .arrow {
  border-left: 6px solid transparent !important;
  border-right: 6px solid transparent !important;
  border-top: 8px solid #000 !important;
}
.react-tel-input .selected-flag .arrow.up {
  border-top: none !important;
  border-bottom: 8px solid #000 !important;
}
.react-tel-input .country-list .search-box {
  flex-grow: 1;
}

/* end input flag number */

/* start select svg icon  */

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon,
.css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
  width: 2em !important;
  height: 2em !important;
  top: calc(50% - 1em) !important;
  color: #000 !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding-left: 28px;
}
[dir="rtl"]
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding-left: 32px;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon,
.css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
  right: 16px !important;
}

[dir="rtl"] .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon,
[dir="rtl"] .css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
  right: auto !important;
  left: 25px !important;
}

/* end select svg icon  */

/* start hamburger style  */
.toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 15px;
  cursor: pointer;
  transition: 0.3s;
  cursor: pointer;
}

.toggle span {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 10px;
  background-color: #000a6b;
  transition: 0.3s;
}

.toggle span:nth-child(2) {
  transition-delay: 0.1s;
}

.toggle.open {
  gap: 0;
}

.toggle.open span:first-child {
  transition-delay: 0.2s;
  transform: translateY(2.5px) rotate(-45deg);
}

.toggle.open span:nth-child(2) {
  opacity: 0;
}

.toggle.open span:last-child {
  transition-delay: 0.2s;
  transform: translateY(-2.5px) rotate(45deg);
}

.pages {
  position: absolute;
  left: 0;
  top: -1000%;
  opacity: 0;
  flex-direction: column;
  width: 100%;
  border-radius: 15px;
  margin-top: 5px;
  transition: 0.5s;
  background-color: #e9e9f0;
  padding-bottom: 10px;
}

.pages.open {
  opacity: 1;
  top: 100%;
}
/* end hamburger style  */
